# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
DirectXGame/.vs/DirectXGame/v16/.suo
*.db-shm
*.opendb
DirectXGame/.vs/DirectXGame/v16/Browse.VC.db-wal
DirectXGame/.vs/DirectXGame/v16/Browse.VC.db
DirectXGame/.vs/DirectXGame/v16/.suo
DirectXGame/.vs/DirectXGame/v16/.suo
DirectXGame/.vs/DirectXGame/v16/.suo
DirectXGame/.vs/DirectXGame/v16/Browse.VC.db
*.db
DirectXGame/.vs/DirectXGame/v17/Browse.VC.db-wal
*.vsidx
DirectXGame/x64/Debug/vc143.pdb
*.idb
*.tlog
*.tlog
*.pdb
*.tlog
